div p{
    padding-left: 20px;
}

div div{
    margin-bottom: 30px;
}


div ul{
    padding-left: 0;
    
}

ul li::marker{
    content:none;
    padding-top: 2px;
    padding-bottom: 2px;

}

body{
    height: 100vh;
}
.container{
    height: 100%;
}
.btn-full{
  width: 100%;
}
input.input-css{
    width: 100%;
    border-radius: 1rem;
}

#portfolioGraph{
    height: 325px;
    width: auto;
}

.wrapper{
    background: var(--light-color);
    padding: 1.5rem 4rem 3rem 4rem;
    width: auto;
    height: auto;
    border-radius: 1.5rem;
    position: relative;
    box-shadow: 0 4px 6px rgb(255 255 255 / 10%), 0 1px 3px rgb(255 255 255 / 10%);
}

.searchHighlight{
    background-color: white;
    color: black;
    border-radius: 1rem;
    
}

input.input-css + ul li{
    padding-left: 10px;
}

.portfolioHighlight{
    color:#0d6efd;
    font-size: 20px;
}

.currentPortfolioHighlight{
    color: #ffc107;
    font-size: 20px;
}

ul + p {
    padding-left: 0;
    font-size: 20px;
} 


ul + p + p {
    padding-left: 0;
    font-size: 20px;
} 

ul li button{
    margin: 10px;
}

div img{
    height: 25%;
    width: 25%;
}

div > p{
    font-size: 30px;
    padding-left: 0;
}

#portfolioValue{
    font-size: 20px;
}